/////////////////////////////////////////////////////////////////////
// Lists styling
/////////////////////////////////////////////////////////////////////

li.list-group-item {
   background-color: @white;
   border: none;
   font-family: 'Dosis', sans-serif;
   font-size: 20px;
}


ul.contact-type > li {
  padding-left: 0px;
}

/*ul.contact-type > li:first-child  {
  color: @red !important;
}
ul.contact-type > li:nth-child(1)  {
  color: @blue;
}

ul.contact-type > li:nth-child(4)  {
  color: @purple !important;
}
*/