

@import  "variables.less";
@import  "fonts.less";
@import  "boilerplate.css";
@import  "utils.less";
@import  "navbar.less";
@import  "responsive.less";
@import  "modals.less";
@import  "navigation.less";
@import  "bs_overrides.less";
@import  "lists.less";
@import  "videos.less";
@import  "gmap.less";


html, body{
// overflow-x: hidden !important;
 width: 100% !important;
 height: 100% !important;
 margin: 0px !important;
 padding: 0px !important;
 font-size: 10px !important;
 position: relative;
 z-index: 10;
}

///////////////////////////////////////////////////////////////////////////////////////////
// html stylings
///////////////////////////////////////////////////////////////////////////////////////////

a, button
{
    -ms-touch-action: manipulation; /* IE10  */
    touch-action: manipulation;     /* IE11+ */
}

 button {
  padding-bottom: 10px;
  border: none;
 }

ul {
  list-style: none;
  padding: 0;
}

/////////////////////////////////////////////////////////////////////////////////////
// Separators
/////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////////// 
// Thumbnail Stylings
//////////////////////////////////////////////////////////////////////////////////////// 


.thumbnail(@radius, @width, @height) {
  margin: 0 auto;
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  width: @width;
  height: @height;
}

.square-thumbnail {

 .thumbnail(@radius:0px, @width:12em , @height: 12em );

  @media screen and (min-width: @screen-sm-min) {
    }
  @media screen and (min-width: @screen-md-min) {
    }
  @media screen and (min-width: @screen-lg-min) {
    }     
}

.rounded-thumbnail {
  margin: 0 auto;
  border: 1px solid;
  text-align: center;

// .thumbnail(@radius:18px, @width:150px , @height: 150px );
     .thumbnail(@radius:2.4em,@width:13em,@height:13em);
  @media screen and (min-width: @screen-sm-min) {
  //     .thumbnail(@radius:20px, @width: 120px, @height: 120px )
    }
  @media screen and (min-width: @screen-md-min) {
    //   .thumbnail(@radius:20px, @width: 150px, @height: 150px);
    }
  @media screen and (min-width: @screen-lg-min) {
    }     
}

.method-thumbnail,.service-thumbnail {
 .square-thumbnail;
}

.team-thumbnail {
  .thumbnail(0px,10em,10em);
//  .square-thumbnail;
}



/////////////////////////////////////////////////////////////////////////////////////////////////
// Panel Styling
/////////////////////////////////////////////////////////////////////////////////////////////////


.panel {
  margin-bottom: 0px !important;
  background: none !important;
  font-size: 8px;
  letter-spacing: 0.1em;

  h4 {
    font-family:'Lato', 'sans-serif';
    font-weight: bold;
    font-size: 2.3em;
    color: @black;
  } 
  
  h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
  }

  p {
    color: @black;
    font-size: 2.2em;
  }

 // remove when removing bootstrap h1 stylings

  @media screen and (min-width: @screen-sm-min) {
    font-size: 8px;
  }

  @media screen and (min-width: @screen-md-min) {
    font-size: 8px;
  }
  @media screen and (min-width:@screen-lg-min) {
    font-size: 10px;
  }

}

.panel-body {
    padding-top: 0.5em;
    font-family: 'Dosis', sans-serif;    
    color: @black;

    ul {
      margin: 0.5em 0;
      font-size: 2.2em;
      text-align: center;
      letter-spacing: 0.1em;
    }

    li {
      margin: 1em 0;
    }
}

.panel-heading {
  padding: 0.5em 1.5em !important;
  text-align: center;
  background: none !important;
  .panel-title {
    font-size: 3em;
    @media screen and (min-width:@screen-sm-min) {
      font-size: 2em;
    }
/*    @media screen and (min-width:@screen-md-min) {
      font-size: 2em;
    }
    @media screen and (min-width:@screen-lg-min) {
      font-size: 2em;
    }
*/  }
}

//////////////////////////////////////////////////////////////////////////////////////////
// Banner Ads Styling
//////////////////////////////////////////////////////////////////////////////////////////

.banner {
  background: url('http://192.168.1.6:3000/img/tile.png') right top #f2f4f7;

  h2 {
    padding:1em 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 4.5em;
    color: #141c26;
  }

  p {
    text-align: center;
    margin: 0;
    font-family: 'Dosis',sans-serif;
    color: #444;
    font-size: 4em;
    letter-spacing: 0.1em;
  }
  
  font-size: 5px;

  @media screen and (min-width:@screen-sm-min) {
    font-size: 8px;
  }

  @media screen and (min-width:@screen-md-min) {
    font-size: 9px;
  }
  
  @media screen and (min-width:@screen-lg-min)  {
    font-size: 10px;
  }

}


//////////////////////////////////////////////////////////////////////////////////////
// Button styling for services, method, team sections
////////////////////////////////////////////////////////////////////////////////////////

#services, #method, #team {
  .selected-button {
    border-bottom: 2px solid @blue;
  }

  button {
    display: block;
    background: none !important;
  }

  
  @media screen and (min-width: @screen-sm-min) {
    font-size: 8px;
  }

  @media screen and (min-width: @screen-md-min) {
    font-size: 8px;
  }
  @media screen and (min-width:@screen-lg-min) {
    font-size: 10px;
  }
}

///////////////////////////////////////////////////////////////////////////////////////
// Screens Stylings
//////////////////////////////////////////////////////////////////////////////////////
/* This code is tested with latest version of Firefox and Chrome */

/* This code is tested with latest version of Firefox and Chrome */
.box {
  @media screen and (min-width:@screen-sm-min) {
    position: relative;
    width: 90%;
    background-color: @white;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
}


#screen-canvas-wrapper {
  position: absolute;

  -webkit-transition: opacity 1s cubic-bezier(.02, .01, .47, 1); 
  -moz-transition: opacity 1s cubic-bezier(.02, .01, .47, 1); 
  transition: opacity 1s cubic-bezier(.02, .01, .47, 1); 
  -o-transition: opacity 1s cubic-bezier(.02, .01, .47, 1);

  left: 60px;
  top: 40%;
  @media screen and (min-width:@screen-md-min) {
  left:60px;
  top: 80px;
}

}

#services canvas {
  width: 100%;
  height: 20em;
}


#screen-services,#screen-team,#project {
  margin-top: 6em;
  padding-top: 2em;

  font-size: 6px;
  
/*  img {
       width: 80%;
  }
*/  

  canvas {
    width: 50em;
    height: 40em;
  }

  @media screen and (min-width: @screen-xs-min) {
    font-size: 10px;
    height: 80em;
  }
  
  @media screen and (min-width: @screen-sm-min) {
    font-size: 8px;
    height: 80em;
  }

  @media screen and (min-width: @screen-md-min) {
    font-size: 7px;
    height: 60em; 
  }

  @media screen and (min-width:@screen-lg-min) {
    font-size: 10px;
  }

}

//////////////////////////////////////////////////////////////////////////////////////////
// Top padding div 
//////////////////////////////////////////////////////////////////////////////////////////

#margin-top {
  height: 160px;
  @media screen and (min-width:@screen-lg-min) {
   height: 180px;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////
// Top div styling
///////////////////////////////////////////////////////////////////////////////////////////

.cadre {
  padding: 0 !important;

  position: relative;

  h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.2em;
    font-size: 4em;
    margin: 0.4em 0;
  } 

  font-size: 6px;
  height:36em;

  @media screen and (min-width:@screen-sm-min) {
    border-radius: 2em;
    border: 1px solid #000;
    width: 95%;
    margin:0 auto;
    font-size: 7px;
    height: 56em;
  }
  
  @media screen and (min-width:@screen-md-min) {
   margin: 0;
   width: 100%;
   font-size: 8px;
  }

  @media screen and (min-width:@screen-lg-min) {
   font-size: 10px;
  }

}


.slide {
//  margin: 0 auto;
  padding: 0.5em;
  position:absolute;
  
  height: 30em; // take into account width = 100%
  width: 100%;
  @media screen and (min-width:@screen-sm-min) {

    padding: 1.5em;
    height: 50em;
  }


  img {
    height: 100%;
    width: 100%;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
// Services Stylings
/////////////////////////////////////////////////////////////////////////////////////////

#services.container-fluid {
  @media screen and (min-width:@screen-sm-min) {
    width:80%;
  }
}

#services {

/* .service-hide {
    @max: (@screen-lg-min - 1px);
    @media screen and (max-width:@max) {
    display:none;
    }
  }
 
 .service-display {
    @media screen and (min-width:@screen-lg-min) {
       display:none;
    }
  }

 .service-icons {
   margin-bottom: 0px;
   @media screen and (min-width:@screen-lg-min) {
    height: 100%;
   }
  }

*/  

  img {
    width: 100%
  }
}



/////////////////////////////////////////////////////////////////////////////////////// 
// How we work section 
/////////////////////////////////////////////////////////////////////////////////////// 

#bubbles-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
//  width: 100%;
//   height: 100%;
}

#method {
  margin-top: 0;
  position:relative;
//  padding: 0; 
 // padding causes bug in dolphin 

  font-size: 10px;

  .panel-body span {
    font-size: 3em;
  }  

  > .row {
    margin-top: 4em;
  }
  #icons > .row > div {
    margin-bottom: 2em;
  }
  
  img {
    width: 100%;
  }

  @media screen and (min-width:@screen-sm-min) {
    height: 72em;
    font-size: 8px;
  }
  @media screen and (min-width:@screen-md-min) {
    height: 60em;
    font-size: 8px;
  }
  @media screen and (min-width:@screen-lg-min) {
    font-size: 10px;
  }
}

///////////////////////////////////////////////////////////////////////////////////
// Team Stlings
///////////////////////////////////////////////////////////////////////////////////

// Common stylings 

#screen-team,#team {
  p {
    font-family: 'Marck Script', cursive;
  }

  li {
    font-family: 'Dancing Script', cursive;
  }

  ul {
    font-size: 2.5em;
    margin: 1em 0;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 0;
  }

  div > span {
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
  }


  font-size: 7px;

  @media screen and (min-width:@screen-xs-min) {
    font-size: 9px;
  }

  @media screen and (min-width:@screen-sm-min) {
    font-size: 10px;
  }

  @media screen and (min-width:@screen-md-min) {
    font-size: 8px;
  }
 
  @media screen and (min-width:@screen-lg-min) { 
    font-size: 10px;
  }
}


#team {
  width: 90%;
  .row {
    margin-top: 3em;

    > div {
      text-align: center;
      > button {
        padding: 0;
        display: none;
        @media screen and (min-width:@screen-sm-min) {
          display: block;
        }
        > img {
          width: 100%;
        }
      }

      .img-placeholder {
        padding:1.5em;
        background: url('http://192.168.1.6:3000/img/polka-1-2.png') @white;
      }
      h4 {
        font-size: 2em;
      }
      img {
        width: 150px;
      }
    }
  }

  @media screen and (min-width:@screen-xs-min) {
    img {
      width: 170px;
    }    
  }

}

#screen-team {

  #screen-team-wrapper {
    display: inline-block;
    vertical-align: middle;
    #screen-team-photo {
      text-align: center;
      img {
        width: 20%;    
      }
      h4 {
       font-size: 1.5em;
      }
      > div:last-child {
        margin-left: 3em;
      }
    }
  }

  &:before {
    content:'';
    height:100%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -0.5em;
  }


  #screen-team-text {
    p {
      margin-top: 0em;
    }
  }

  @media screen and (min-width:@screen-sm-min) {
    #screen-team-wrapper #screen-team-photo img {
      width: 130px;
    }    
  }

  @media screen and (min-width:@screen-md-min) {
  }

  @media screen and (min-width:@screen-lg-min) {
    #screen-team-wrapper #screen-team-photo img {
      width: 140px;
    }
    font-size: 10px;
  }

}



////////////////////////////////////////////////////////////////////////////////
// Project Stylings
////////////////////////////////////////////////////////////////////////////////

#project-screen {
  .row {
    margin-top: 5em;
    text-align: center;
    > .project {
      height: 22em;
      margin-top: 2em;
      margin-bottom: 2em;

     .project-wrapper {
        display: inline-block;
        vertical-align: middle;
        h3 {
          margin: 0;
          margin-top: 1em;
          font-family: 'Dosis', sans-serif;
          font-size: 2em;
        }
        img {
          width: 200px;
        }
      }
    }

    .img-placeholder {
      padding:0em;
      background: url('http://192.168.1.6:3000/img/polka-1-2.png') @white;
      vertical-align: top !important;
    }

    .project:before {    
      content:'';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      margin-right: -0.5em;    
    }
  }

  font-size: 10px;
// column display 
  @media screen and (min-width:@screen-xs-min) {
    .row > .project > .project-wrapper > img {
      width: 270px;
    }
    font-size: 12px;
  }

  @media screen and (min-width:@screen-sm-min) {
    .row > .project > .project-wrapper > img {
      width: 190px;
    }
    font-size: 8px;
  }

/*  @media screen and (min-width:@screen-md-min) {
    .project > .project-wrapper > img {
      width: 190px;
    }
    font-size: 8px;
  }
*/
  @media screen and (min-width:@screen-lg-min) {
    .row > .project > .project-wrapper > img {
      width: 237px;
    }
    font-size: 10px;
  }
}


///////////////////////////////////////////////////////////////////////////////
// Footer section
///////////////////////////////////////////////////////////////////////////////

.footer-background {
  padding: 0;
  height: 400px;
  background: url('http://192.168.1.6:3000/img/stripe2.png');
  .row {
    position:relative;
    z-index: 10;
    margin: 0;
    padding: 0;
    height: 100%;
    opacity: 0.9;
    background: @white;
  }
}


//////////////////////////////////////////////////////////////////////////////////
// Social ads Stylings
//////////////////////////////////////////////////////////////////////////////////

#social-ads {
  background: url('http://192.168.1.6:3000/img/stripe.png');

  #social-ads-wrapper {
    background-color: @white;
    opacity: 0.9;

    .social-banner {
      text-align: center;
      height: 50em;
      padding: 0 1.5em;
      padding-top: 3em;
      img {
        width: 205px;
      }
      h3, a {
        color: @white !important;
      }  
      h3 {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 3em;
      }
  
      .social-logos-wrapper {
        text-align: center;
      }

      .social-button-wrapper {
        margin-top: 20px;
        height: 5em;
      }

      .social-banner-wrapper {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .social-banner:before {
      content:'';
      height: 100%;
      margin-left: -1em;
      display: inline-block;
      vertical-align: middle;
    }
  }

  
  @media screen and (min-width:@screen-xs-min) {
    #social-ads-wrapper .social-banner img {
       width: 220px;
    }
    font-size: 8px;
  }

  @media screen and (min-width:@screen-sm-min) {
    #social-ads-wrapper .social-banner img {
      width: 192px;
    }
    font-size: 8px;
  }

  @media screen and (min-width:@screen-md-min) {
    #social-ads-wrapper .social-banner img {
       width: 220px;
    }
    font-size: 10px;
  }

  @media screen and (min-width:@screen-lg-min) {
    #social-ads-wrapper .social-banner img {
       width: 170px;
    }
    font-size: 10px;
  }
}

/////////////////////////////////////////////////////////////////////////////////
// Footer Stylings
/////////////////////////////////////////////////////////////////////////////////


#footer {
  position:relative;  
  background: url('http://192.168.1.6:3000/img/stripe.png') ;

  #footer-wrapper {
    background-color: @white;
    opacity: 0.95;
    > div > ul > li {
      background: none; // fix for Dolphin browser
    }
    > div:last-child {
      height: 8em;
      font-family: 'Dosis', sans-serif;
      font-size: 1.5em;
      span {
         padding: 1em 1.5em;
      }
    }

    .contact-type {
     display: block;
     width: 6em;
     margin: 0 auto;
    }
  
    .logo {
      display: inline-block;
      vertical-align: middle;
      width: 52px;
      padding: 0 0.5em;
    }
  
    #cinc-ad {
      > ul > li:first-child {
      display: none;      
      }
    }

    .brand-icons {
      margin: 4em 0; 
      margin-top: 0;
      height: 8em;
    }

    .brand-icons:before {
      content:'';
      height:100%;
      display: inline-block;
      vertical-align: middle;
      margin-left: -0.5em;
    }
  }


  @media screen and (min-width:@screen-xs-min) {
    #footer-wrapper .logo {
        width:75px;
    }
  }

  @media screen and (min-width:@screen-sm-min) {
    #footer-wrapper {
      > div {
        height: 35em;
      }

      #cinc-ad .brand-icons {
        margin: 3em 0;
      }

      .logo {
        width:65px;
      }
    }
  }

  @media screen and (min-width:@screen-lg-min) {
    #footer-wrapper .logo {
      width:70px;
    }
    font-size: 10px;
  }
}




