
.modal-header {
  background: url('../img/tile.png') @white !important;
  font-size: 2.5em;
  color: @black;
}

.modal-header {
  padding: 0.5em !important;
  height: 2.5em;
}

.modal-header:before {
  content:'';
  height: 100%;  
  display: inline-block;
  vertical-align: middle;
  margin-left:-0.25em;
}

button.close {
  display:inline-block;
  vertical-align: middle;
  line-height: 0.6em;
}

.close { 
  opacity: 1 !important;
  color : @black !important;
  font-size: 2em !important;
}


#skypeCinc {
  a {
    color: @blue !important;    
  }
}

#telCinc,#skypeCinc { 
  border: 1px solid #e5e5e5;
  border-radius: 2px;

  .list-group-item {
    @media screen and (min-width:@screen-lg-min) {
    font-size: 2em;
    }
  }
  button {
    float:right;
    background: none;
  }
  .contact-type {
    display: block;
    width: 6em;
    margin: 0 auto;
  }
  span.contact-type {
    font-size: 1em;
  }

  a { 
    font-family: 'Dosis', sans-serif;
  }

  .skype-call-wrapper {    
    width: 50%;
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
    background: url('../img/tile.png');
    @media screen and (min-width:@screen-xs-min) {
      width: 30%;
    }
    span {
      font-size: 2em;
    }
  }
}


