/*/////////////////////////////////////////////////////////////////////////////////////////////////
// Navbar Styling
//////////////////////////////////////////////////////////////////////////////////////////////////*/

.nav-transition {
 -webkit-transition: all 500ms cubic-bezier(0.000, 1, 0.560, 0.920); /* older webkit */
 -webkit-transition: all 500ms cubic-bezier(0.000, 1.220, 0.560, 0.920);  
 -moz-transition: all 500ms cubic-bezier(0.000, 1.220, 0.560, 0.920); 
 -o-transition: all 500ms cubic-bezier(0.000, 1.220, 0.560, 0.920); 
  transition: all 500ms cubic-bezier(0.000, 1.220, 0.560, 0.920); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.000, 1, 0.560, 0.920); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.000, 1.220, 0.560, 0.920); 
  -moz-transition-timing-function: cubic-bezier(0.000, 1.220, 0.560, 0.920); 
  -o-transition-timing-function: cubic-bezier(0.000, 1.220, 0.560, 0.920); 
  transition-timing-function: cubic-bezier(0.000, 1.220, 0.560, 0.920); /* custom */
}

#navbar {
 padding: 1.5em 1.5em;
 font-size: 10px;
 background: @black;
 .nav-transition;

  h1 {
    margin: 0 !important;
  }

  h2 {
    &:extend(#navbar h1);
    text-align: center;
  }

 .container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
 }


 #main-title {
    color: @white;
    h1 {
      margin-bottom: 15px;
      font-family:'Lato', verdana;
      font-size: 8em;
      line-height: 1.1em;
    }

    h2 {
      padding-top: 5px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1.7em;
    }
  }


  #main-nav {
   a {
    color: @white !important;
    }
    h2 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 2.5em;
     }
  }

  #social-icons {
    a {
      width: 25%;
    }
    img {
//      width: 2.7em;
      width: 50%;
    }
  }
  

  #social-icons {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  @media screen and (min-width:@screen-xs-min) {
    #social-icons img {
      width: 30%;
    }
  }

  @media screen and (min-width: @screen-sm-min) {
    position: fixed;
    width: 100%; 
    top: 0px;
    left: 0px;
    z-index: 100;
    font-size: 7.5px;
    #social-icons img {
      width: 50%;
    }

    #main-title {
      position: relative;
      top: -5px;
      left: 5px;
      h2 {
        font-size: 1.3em;
      }
    }

  }

  @media screen and (min-width:@screen-sm-min) {
     #social-icons {
      margin-top: 32px;
      margin-bottom: 0;
     }
     #main-nav {
      margin-top: 32px;
      margin-bottom: 0;
     }
   }

  @media screen and (min-width:@screen-md-min) {
    #social-icons {
      margin-top: 30px;
      img {
        width: 40%;
      }
    }
    #main-nav {
     margin-top: 29px;
    }
    font-size: 8px;
  }

  @media screen and (min-width:@screen-lg-min) {
    #social-icons {
      margin-top: 43px;
      img {
        width: 50%;
      }
    }
    #main-nav {
     margin-top: 39px;
    }    
    font-size: 10px;
  }
}



.navbar-mini {
  padding: 0 !important;
  margin-bottom: 0 !important;
  opacity: 0.8;
  @media screen and (min-width:@screen-sm-min) {
    #social-icons {
      margin-top: 16px !important;
      img {
        width: 30% !important;
      }
    }
    #main-nav {
      margin-top: 14px !important;
    }
    font-size: 6px !important;
  }

  @media screen and (min-width:@screen-md-min) {
    #social-icons {
      margin-top: 13px !important;
    }    
    font-size: 5px !important;
  }
  @media screen and (min-width:@screen-lg-min) {
    #social-icons {
      margin-top: 14px !important;
    }
    #main-nav {
      margin-top: 14px !important;
    }

    font-size: 6px !important;
  }
}
