/*/////////////////////////////////////////////////////////////////////////////////////////////////
// Navbar Styling
//////////////////////////////////////////////////////////////////////////////////////////////////*/

.nav-transition {
 -webkit-transition: all 500ms cubic-bezier(0.000, 1, 0.560, 0.920); /* older webkit */
 -webkit-transition: all 500ms cubic-bezier(0.000, 1.220, 0.560, 0.920);  
 -moz-transition: all 500ms cubic-bezier(0.000, 1.220, 0.560, 0.920); 
 -o-transition: all 500ms cubic-bezier(0.000, 1.220, 0.560, 0.920); 
  transition: all 500ms cubic-bezier(0.000, 1.220, 0.560, 0.920); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.000, 1, 0.560, 0.920); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.000, 1.220, 0.560, 0.920); 
  -moz-transition-timing-function: cubic-bezier(0.000, 1.220, 0.560, 0.920); 
  -o-transition-timing-function: cubic-bezier(0.000, 1.220, 0.560, 0.920); 
  transition-timing-function: cubic-bezier(0.000, 1.220, 0.560, 0.920); /* custom */
}

#navbar {
 padding: 1.5em 1.5em;
 background: @black;
 text-align: center;
 a {
  color: @white !important;
 }

 .nav-item {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
  }

 .nav-transition;

  h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    &:extend(#navbar h1);
    text-align: center;
  }

 .container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
 }


 #main-title {
    width: 100%;
    color: @white;
    h1 {
      margin-bottom: 15px;
      font-family:'Lato', verdana;
      font-size: 60px;
      line-height: 1.1em;
    }
    h2 {
      padding-top:10px;
      font-size: 15px;

    }
  }

  
  #main-nav,#social-icons {
    text-align: center;
  }

  #main-nav {
    display: none;
  }

  #main-nav h2 {
      font-size: 2.5em;
  }

  #social-icons img {
    width: 30px;
    /* fix for firefox cutting image*/
   image-rendering:optimizeQuality;
   -ms-interpolation-mode: bicubic;
  }

  @media screen and (min-height: 481px) {
    .nav-item {
      padding: 8px;
    }
    #main-title {
      h1 {
      font-size: 80px;
      line-height: 1.1em;
      }
      h2 {
        font-size: 17px;
      }
    }

  }

  @media screen and (min-width:@screen-xs-min) {
    #main-title {
      h1 {
      font-size: 80px;
      line-height: 1.1em;
      }
      h2 {
        font-size: 17px;
      }
    }    
    #social-icons img {
      width: 42px;
    }
  }

  @media screen and (min-width: @screen-sm-min) {
    position: fixed;
    width: 100%; 
    top: 0px;
    left: 0px;
    z-index: 100;
    #main-title {
      h1 { 
        font-size: 8em;
        line-height: 1em;
      }
      h2 {
        padding-top: 5px;
        font-size: 2em;
      }
      width: auto;
    }
    #main-nav {
      display: inline-block;
    }
    .nav-item {
      padding: 0 6px;
    }

    #social-icons img {
      width: 30px;
    }

  }

  @media screen and (min-width:@screen-md-min) {
    .nav-item {
      padding: 0 15px;
    }
  }

  @media screen and (min-width:@screen-lg-min) and (min-height:@screen-height-wide) {
    #social-icons img {
      width: 35px;
    }

    .nav-item {
      padding: 0 18px;
    }
  }
}



.navbar-mini {
  margin-bottom: 0 !important;
  opacity: 0.8;
  #main-title h1 {
    line-height: 1em !important;
    font-size: 6em !important;
    margin-top: -5px !important;
  }
  @media screen and (min-width:@screen-sm-min) {
    #social-icons  img {
        width: 25px !important;
    }
    padding: 10px !important;
    .nav-item {
      padding: 0 10px !important;
    }
    font-size: 8px !important;
  }
  @media screen and (min-width:@screen-md-min) {
    padding: 10px !important;
    font-size: 8px !important;
  }
  @media screen and (min-width:@screen-lg-min) and (min-height:@screen-height-wide) {
    #social-icons  img {
        width: 30px !important;
    }

    font-size: 8px !important;

  }
}
