@import (reference) "variables.less";
@import (reference) "utils.less";
/*/////////////////////////////////////////////////////////////////////////////////////////////////
// Navbar Styling
//////////////////////////////////////////////////////////////////////////////////////////////////*/

.nav-transition {
 -webkit-transition: all 500ms cubic-bezier(0.000, 1, 0.560, 0.920); /* older webkit */
 -webkit-transition: all 500ms cubic-bezier(0.000, 1.220, 0.560, 0.920);  
 -moz-transition: all 500ms cubic-bezier(0.000, 1.220, 0.560, 0.920); 
 -o-transition: all 500ms cubic-bezier(0.000, 1.220, 0.560, 0.920); 
  transition: all 500ms cubic-bezier(0.000, 1.220, 0.560, 0.920); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.000, 1, 0.560, 0.920); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.000, 1.220, 0.560, 0.920); 
  -moz-transition-timing-function: cubic-bezier(0.000, 1.220, 0.560, 0.920); 
  -o-transition-timing-function: cubic-bezier(0.000, 1.220, 0.560, 0.920); 
  transition-timing-function: cubic-bezier(0.000, 1.220, 0.560, 0.920); /* custom */
}

.title-description {
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  padding: 20px 15px;
  h2 {
    letter-spacing: 0.2em;
    font-size: 20px;
    text-shadow: 1px 1px 1px #AAA;
  }
  color: @black;
}


#fixed-bar {
  width: 100%;
  background: @black;
  z-index: 50;

  a {
    color: @white !important;
  }

  h1,ul,h2,#toggle-glyph {
    margin: 0;
  }

  .btn {
    border: none;
    margin: 0;
    height: 70px;
    border-right: 2px solid @white;
  }

  .navbar-brand {
    float: right;
    padding: 0px 5px;
    height: 70px;
    line-height: 70px;
    h1 {
      font-size: 0;
    }
    a {
      display: inline-block;
      font-family:'Lato', verdana;
      font-size: 55px;
      vertical-align: top;
      position: relative;
      height: 50px; 
      top: -1px;  
    }
    span {
      font-family: 'Open Sans Condensed', sans-serif;
      color: @white;
      display: inline-block;
      vertical-align: top;
      font-size: 30px;
      position: relative;
      top: 5px;
      padding-right: 3px;
    }
  }

  .navbar-toggle {
    float: left;
    padding: 20px;
    .icon-bar {
      background-color: @white;
      width: 30px;
      height: 3px;
    }
  }
  .btn:active {
    background: @darkGreen !important;
  }

  .glyphicon {
    top: 0px;
    line-height: 70px;
  }

  .bar-items {
    background: @white;
    text-align: center;
    padding: 0px;
    a{
      display: block;
      color: @black !important;
      border-top: 1px solid #bebebe;
      border-bottom: 1px solid #bebebe;
      margin-top: -1px;
    }
    li {
      padding: 15px 0px;
      font-size: 15px;
    }
    li:active {
      background: @darkGray;
    }
    a:first-child {
      border-top: none;
      margin-top: 0px;
    }
  }
  
  #social-icons {
    float: right;
    a:hover {
     .shake;
    }
  }

  .title-description {
    display: none;
  }

  @media screen and (min-width: @screen-sm-min) {
    position:fixed;
    top: 0px;
    z-index: 70;
    .navbar-collapse {
      float:right;
    }


    .navbar-brand {
      height: 90px;
      line-height: 90px;
      padding: 0px 15px;
      a {
        font-size: 70px;
        line-height: 90px;
        top: -5px;
      }
      span {
        top: 14px;
        padding-right: 5px;
        font-size: 30px;
      }
    }

    .navbar-collapse {
      display: inline-block;
    }

    #social-icons {
      a {
        display: inline-block;
        height: 90px;
        line-height: 90px;
        padding: 0px 15px;
      }
      img {
        width: 30px;
      }
    }

    .bar-items {
      background: none;
      display: inline-block;
      font-size: 0;
      ul {
        text-align: center;
      }
      a {
        border: none;
        margin-top: 0px;
        display: inline-block;
        color: @white !important;
        height: 90px;
      }
      li {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 13px;

        border: none;
        vertical-align: middle;
        padding: 0px 10px;
        height: 90px;
        line-height: 90px;
        letter-spacing: 0.2em;
      }

      li:hover {
        text-shadow: 3px 3px 3px #000;
      }
      .nav-blue-bg:hover, .nav-blue-bg:focus {
        background: @blue !important;
      }
      .nav-blue-bg:active {
        background: @darkBlue !important;
      }
      .nav-orange-bg:hover, .nav-orange-bg:focus {
        background: @orange !important;
      }
      .nav-orange-bg:active {
        background: @darkOrange !important;   
      }
      .nav-green-bg:hover, .nav-green-bg:focus {
        background: @green !important;
      }
      .nav-green-bg:active {
        background: @darkGreen !important;
      }      
      .nav-purple-bg:hover, .nav-purple-bg:focus {
        background: @purple !important;
      }
      .nav-purple-bg:active {
        background: @darkPurple !important;
      }
      .nav-red-bg:hover, .nav-red-bg:focus {
        background: @red !important;
      }
     .nav-red-bg:active {
        background: @darkRed !important;
      } 

      #lang-item {
        border: none;
        float:right;
      }
    }
  }

  @media screen and (min-width:@screen-md-min) {
    .title-description {
      display: block;
       font-family: 'Open Sans Condensed', sans-serif;
       padding-left:10px;
       height:90px;
       width: 60px;
       padding-top: 10px;
       h2 {
        letter-spacing: 0.2em;
        font-size: 15px;
      }
      color: @white;
      float:left;
    }

    .bar-items li {
      padding: 0px 15px;
    }
    .navbar-brand {
      a {
        font-size: 65px;
      }
      span {
        font-size: 25px;
      }
    }
    .title-description h2,.bar-items li {
        font-size: 15px;
    }
  }

  @media screen and (min-width:@screen-lg-min) {
    .title-description h2,.bar-items li {
      font-size: 16px;
    }

  }

  @media screen and (min-width:@screen-lg-min) and (min-height:@screen-height-wide) {
    #social-icons {
      img {
        width: 35px;
      }
    }
  }

}

#navbar {
  padding: 1.5em 1.5em;
  background: @black;
  text-align: center; 
  position: relative;

  a {
   color: @white ;
  }

  #lang-wrapper {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 1.5em;
    a:focus,a:hover {
      color: @red;
    }
    @media screen and (min-width:@screen-sm-min) {
      font-size: 1em;
      right: 20px;
      bottom: 10px;
    }
    @media screen and (min-width:@screen-md-min) {
      font-size: 1em;
      right: 40px;
      bottom: 10px;
    }
  }

 
 .nav-item {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
  }

 .nav-transition;

  ul, h2 {
   font-family: 'Open Sans Condensed', sans-serif;
  }
  
  ul {
    padding: 0;
    margin: 0;    
  }

 .container {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
 
  }


  #main-title {
    width: 100%;
    color: @white;
    a:focus {
      color: @blue;
    }
    h1 {
      position: relative;
      top:-10px;
      margin-bottom: 15px;
      font-family:'Lato', verdana;
      font-size: 60px;
      line-height: 1.1em;
    }

    h2 {
      padding-top:10px;
      font-size: 15px;
    }
    h2.prefix {
      display: inline-block;
      vertical-align: top;
      font-size:4em;
    }
  }
  #social-icons a:hover {
    .shake;
  }
  
  #main-nav,#social-icons {
    text-align: center;
  }

  #main-nav {
    display: none;
  }

  #main-nav ul {
      font-size: 2.5em;
  }

  #social-icons img {
    width: 20px;
    /* fix for firefox cutting image*/
   image-rendering:optimizeQuality;
   -ms-interpolation-mode: bicubic;
  }

  #nav-social-recommends {
    opacity: 0;
    height: 0px;
  }


  @media screen and (min-height: 481px) {
    .nav-item {
      padding: 8px;
    }
    #main-title {
      h1 {
      top: 0px;
      display: inline-block;
      font-size: 80px;
      line-height: 1.1em;
      }
      h2 {
        font-size: 17px;
      }
    }
  }

  @media screen and (min-width:@screen-xs-min) {
    #main-title {
      h1 {
      font-size: 80px;
      line-height: 1.1em;
      }
      h2 {
        font-size: 17px;
      }
    }    
   
  }

  @media screen and (min-width: @screen-sm-min) {
    position: fixed;
    width: 100%; 
    top: 0px;
    left: 0px;
    z-index: 100;

    #main-title {
      h1 { 
        display: inline-block;
        top: 0px;
        font-size: 8em;
        line-height: 1em;
      }
      h2 {
        padding-top: 5px;
        font-size: 1.9em;
      }
      h2.prefix {
        font-size: 3em;
      }
      width: auto;
    }
    #main-nav,#main-nav a {
      display: inline-block;
    }
    #main-nav li {
      line-height: 90px;
    }
    .nav-item {
      padding: 0 4px;
    }

  

  }

  @media screen and (min-width:@screen-sm-min) {
    .container {
      -webkit-box-shadow: 0px 0px 25px 10px #141C26; 
      -moz-box-shadow: 0px 0px 25px 10px #141C26;
      box-shadow: 0px 0px 25px 10px #141C26;
    }
  }
  @media screen and (min-width:@screen-md-min) {
    .nav-item {
      padding: 0 13px;
    }
    .container {
      -webkit-box-shadow: 0px 0px 50px 20px #141C26; 
      -moz-box-shadow: 0px 0px 50px 20px #141C26;
      box-shadow: 0px 0px 50px 20px #141C26;
    }
  }

  @media screen and (min-width:@screen-lg-min) and (min-height:@screen-height-wide) {
    #social-icons img {
      width: 35px;
    }
    #main-nav li {
      line-height: 116px;
    }

    .nav-item {
      padding: 0 15px;
    }
  }
}



.navbar-mini {
  margin-bottom: 0 !important;
  opacity: 0.8;

  #lang-wrapper {
    display: none;
  }
  #main-nav li {
    line-height: 43px !important;
  }

  #main-title h1 {
    line-height: 1em !important;
    font-size: 6em !important;
    margin-top: -5px !important;
  }
  #main-title h2.prefix {
//    line-height: 1em !important;
    font-size: 2em !important;
//    margin-top: -5px !important;
  }
  .container {
    box-shadow: none !important;
  }
  @media screen and (min-width:@screen-sm-min) {
    #social-icons  img {
        width: 25px !important;
    }
    padding: 10px !important;
    .nav-item {
      padding: 0 9px !important;
    }


    font-size: 8px !important;
  }
  @media screen and (min-width:@screen-md-min) {
    padding: 10px !important;
    font-size: 8px !important;
    #nav-social-recommends {
      position: absolute;
      opacity: 1 !important;
      right: 0px;
      height: auto;
      top: 50%;
      margin-top: -10px;
      display: block !important;
      div {
        display: inline-block !important;
        vertical-align: top !important;
        margin-right: 5px !important;
        width: 80px !important;
      }
      .fb-like {
        width: 90px !important;
      }
    }
  }
  @media screen and (min-width:@screen-lg-min) and (min-height:@screen-height-wide) {
    #social-icons  img {
        width: 30px !important;
    }

    font-size: 8px !important;

  }
}
