@import (reference) "variables.less";
@import (reference) "utils.less";


.navbox-hover {
  width: 50px !important;
  height: 50px !important;
  line-height: 50px !important;
  color: @black !important;
  img {
    width: 25px !important;
  }
}

.center-navigation {
  position:relative;
  z-index: 15;
  text-align: center;
  a {
   .transition(@property:all,@delay:150ms);
    background: @black;
    display:block;
    margin: 0px auto;
    padding: 0;    
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    img {
      .transition(@property:all,@delay:150ms);
      position: relative;
      width: 15px;
    }
  }
  a:focus,a:hover {
    color:@black !important;
  }
  a:active,#black-box:active {
    background: @blue !important;
  }
}
#main-nav-5 a:hover {
  color: @black;
}
#main-nav-1 {
  margin-top: 50px;
}
#main-nav-2 {
  margin-top: 20px;
}
#main-nav-3,#main-nav-4,#main-nav-5 {
  margin-top: 30px;
}


.slide-nav {
  margin-bottom: 4em;
  text-align: center;
}

.slide-box {
  margin: 0 auto;
  border: 1px solid @black;
  border-radius: 30px;

  width: 30px;
  height: 30px;
  text-align: center;
  span {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    vertical-align: middle;
  }
}

