@import (reference) "variables.less";

.sidebar {
  position: fixed;
  width: 80px;
  right: 1%;
  top: 30%;
  z-index: 15;

  opacity: 0.6;
  -webkit-transition: all 700ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
  -webkit-transition: all 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
  -moz-transition: all 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
  -o-transition: all 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
  transition: all 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
  
  @max: (@screen-lg-min - 1 );

  @media screen and (max-width:@max)
  {
    display: none;
  }
}

.hidebar {
  right: -10%;
}

.nav-active {
  background-color: @red !important;
}

.red-border {
  border:1px solid @red;
}
.blue-border {
  border:1px solid @blue;
}
.orange-border {
  border:1px solid @orange;
}

#main-nav-1 {
  margin-top: 50px;
}

#main-nav-2,#main-nav-3,#main-nav-4,#main-nav-5 {
  margin-top: 30px;
}
#main-nav-2 {
  margin-top: 20px;
}



.center-navigation {

  position:relative;
  z-index: 15;
  text-align: center;
  a {
    margin: 0px auto;
    padding: 0;    
    border: 1px solid;

    display:block;
    width: 30px;
    height: 30px;
    span {
      position: relative;
      top: 5px;
      font-size: 12px;
    }
  }  

}


.slide-nav {
  margin-bottom: 4em;
  text-align: center;
}

.slide-box {
  margin: 0 auto;
  border: 1px solid @black;
  border-radius: 30px;

  width: 30px;
  height: 30px;
  text-align: center;
  span {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    vertical-align: middle;
  }
}

.navigation {
   text-align: center;
   font-size: 12px !important;

   a {
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    padding: 0;

    display:block;
    background-color: #222;

    text-align: center;
    
   -webkit-transition: -webkit-transform 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition: -moz-transform 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -o-transition: -o-transform 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    transition: transform 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
   }

   h6 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    letter-spacing: 0.2em;
    }
}


