.sidebar {
  position: fixed;
  right: 2%;
  top: 30%;
  -webkit-transition: all 700ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
  -webkit-transition: all 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
  -moz-transition: all 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
  -o-transition: all 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
  transition: all 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
  z-index: 15;
  
  @max: (@screen-lg-min - 1 );

  @media screen and (max-width:@max)
  {
    display: none;
  }
}

.hidebar {
  right: -10%;
}

.nav-active {
  background-color: @red !important;
}

.red-border {
  border:1px solid @red;
}
.blue-border {
  border:1px solid @blue;
}
.orange-border {
  border:1px solid @orange;
}


.navigation {
   text-align: center;
   font-size: 12px !important;

   a {
//    .rotate(45deg);
    display:block;
    border: 1px solid;
//   background-color: #222;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0px auto;
    padding: 0;
    
   -webkit-transition: -webkit-transform 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition: -moz-transform 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -o-transition: -o-transform 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    transition: transform 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
    text-align: center;

    span {
      vertical-align: middle;
      position: relative;
      top: -1px;
    }
   }

 /*  a:hover {
    .rotate(90deg, 2.2);
   }
*/
   h6 {
    position: relative;
    font-family: 'Dosis', sans-serif;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 0.2em;
    }
}

