@import "boilerplate.css";
.subtitle {
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  font-size: 2em;
  color: #000000;
  font-family: 'Open Sans Condensed', 'sans-serif';
  text-transform: none;
  text-align: center;
  color: #000;
  /*
    @media screen and (min-width:@screen-xs-min) {
       .font(1.6em); 
    };

    @media screen and (min-width:@screen-sm-min) {
       .font(2em); 
    };
    
    @media screen and (min-width:@screen-md-min) {
      .font(2.6em);
    };
   
    @media screen and (min-width:@screen-lg-min) {
      .font(1.8em);
    };
    */
}
#main-nav,
#apropos_top p,
#method_top p,
#services_top p {
  font-family: 'Open Sans Condensed', sans-serif;
}
p.text-header {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 16.66666667px !important;
  /*  @media screen and (min-width: 320px) {
   @value: (@size * 1.4) ;
   font-size: @value !important;   
  }

  @media screen and (min-width: @screen-xs-min) {
   @value: (@size * 1.3) ;
   font-size: @value !important;   
  }

*/
  /* ratio is computed using container fixed width */
  /* 970 / 750 ~ 1.2933 */
  /*  @media screen and (min-width: @screen-sm-min) {
   @value: (@size * 1.56) ;
   font-size: @value !important;    
  }
*/
  /* 1170 / 970 ~ 1.2062 */
  /*    @media screen and (min-width: @screen-sm-min ) {
      font-size: 15px;
    }

    @media screen and (min-width: @screen-md-min) {
      font-size: 20px;

    }
    @media screen and (min-width: @screen-lg-min) {
     font-size: 24px;
    }
*/
}
@media screen and (min-width: 768px) {
  p.text-header {
    font-size: 24.124px !important;
  }
}
@media screen and (min-width: 1200px) {
  p.text-header {
    font-size: 20px !important;
  }
}
/*  #method_header {
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 24px;
    line-height: 1.2em;
  }
*/
/*/////////////////////////////////////////
// Helper Classes
//////////////////////////////////////////*/
@media screen and (min-width: 768px) {
  .desktop-hide {
    display: none;
  }
}
.mobile-hide {
  display: none;
}
@media screen and (min-width: 768px) {
  .mobile-hide {
    display: block;
  }
}
.portrait-hide {
  display: none;
}
@media screen and (min-width: 992px) {
  .portrait-hide {
    display: block;
  }
}
.rotate-45 {
  transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  /* IE 9 */
  -webkit-transform: rotate(45deg) scale(1);
  /* Opera, Chrome, and Safari */
}
.rotate-90 {
  transform: rotate(90deg) scale(1);
  -ms-transform: rotate(90deg) scale(1);
  /* IE 9 */
  -webkit-transform: rotate(90deg) scale(1);
  /* Opera, Chrome, and Safari */
}
.rotate-225 {
  transform: rotate(225deg) scale(1);
  -ms-transform: rotate(225deg) scale(1);
  /* IE 9 */
  -webkit-transform: rotate(225deg) scale(1);
  /* Opera, Chrome, and Safari */
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
  opacity: 0;
}
.bold {
  font-weight: bold;
}
.white {
  color: #fcfcfe !important;
}
.white-2 {
  color: #f2f4f7 !important;
}
.midnight {
  color: #141c26 !important;
}
.blue {
  color: #2980b9 !important;
}
.red {
  color: #c0392b !important;
}
.green {
  color: #27ae60 !important;
}
.purple {
  color: #8e44ad !important;
}
.orange {
  color: #f39c12 !important;
}
.background-lightGray {
  background: #f2f4f7 !important;
}
.background-lightGray-2 {
  background: #f8f9fb !important;
}
.background-dark {
  background: #262626 !important;
}
.background-red {
  background: #c0392b !important;
}
.background-blue {
  background: #2980b9 !important;
}
.background-orange {
  background: #f39c12 !important;
}
.background-purple {
  background: #8e44ad !important;
}
.background-green {
  background: #27ae60 !important;
}
.background-midnight {
  background: #141c26 !important;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.nostyle {
  list-style: none;
}
.center {
  margin: 0 auto;
}
.border {
  border: 1px solid;
  border-radius: 5px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.h-line {
  display: inline-block;
  vertical-align: top;
  height: 1px;
  width: 30px;
  margin-right: 0px;
  margin-left: 0px;
  border: 1px solid;
}
.v-line {
  display: inline-block;
  vertical-align: top;
  width: 1px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-right: 1px solid;
  height: 100px;
}
.short-v-line {
  display: inline-block;
  vertical-align: top;
  width: 1px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-right: 1px solid;
  height: 50px;
}
#contactMe .panel-body,
#skypeMe .panel-body {
  font-family: 'Verdana', sans-serif;
  font-size: 13px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}
#contactMe p,
#skypeMe p {
  padding-top: 15px;
}
#contactMe a,
#skypeMe a {
  text-decoration: none;
}
#contactMe img,
#skypeMe img {
  width: 40px;
  padding-left: 15px;
  padding-right: 5px;
}
.close {
  opacity: 1 !important;
  color: #fff !important;
  font-size: 30px !important;
}
.sidebar {
  position: fixed;
  right: 2%;
  top: 30%;
  -webkit-transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  z-index: 15;
}
@media screen and (max-width: 1199px) {
  .sidebar {
    display: none;
  }
}
.hidebar {
  right: -10%;
}
.nav-active {
  background-color: #c0392b !important;
}
.red-border {
  border: 1px solid #c0392b;
}
.blue-border {
  border: 1px solid #2980b9;
}
.orange-border {
  border: 1px solid #f39c12;
}
.navigation {
  text-align: center;
  font-size: 12px !important;
  /*  a:hover {
    .rotate(90deg, 2.2);
   }
*/
}
.navigation a {
  display: block;
  border: 1px solid;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0px auto;
  padding: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: -moz-transform 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: -o-transform 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: transform 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  /* linear */
  text-align: center;
}
.navigation a span {
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.navigation h6 {
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 0.2em;
}
/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, 
.container {
  padding-left: 1.25% !important;
  padding-right: 1.25% !important;
  .resize(padding-left, 15px, false);
  .resize(padding-right,15px, false);
}

*/
/*.row {
  margin-left: -1.25% !important;
  margin-right: -1.25% !important;
  .resize(margin-left, -15px, false);
  .resize(margin-right, -15px, false);
}
*/
/*h1, .h1, h2, .h2, h3, .h3 {
//  margin-top: 20px
//  margin-bottom: 10px;
  .resize(margin-top, 20px);
  .resize(margin-bottom, 20px);

}
*/
h5 {
  font-family: 'Open Sans Condensed', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
}
p {
  line-height: 1.6 !important;
}
a {
  color: #000 !important;
}
a:hover {
  color: #2980b9 !important;
  text-decoration: none !important;
}
.noglow,
.btn-default,
.btn-danger {
  box-shadow: none !important;
  -webkit-shadow: none !important;
  outline: none !important;
}
.btn {
  border-radius: 0 !important;
}
.btn-default {
  border: 1px solid #c0392b !important;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background: #fff !important;
}
.modal-content {
  border: none !important;
  font-family: 'Dosis', sans-serif;
}
.modal-header {
  background: #c0392b !important;
  font-size: 22px;
  color: #fff;
}
.btn-danger {
  border: none !important;
  background-color: #c0392b !important;
}
.panel {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}
.panel-heading {
  border-radius: 0 !important;
  border: none !important;
  /*  .resize(padding-top, 10px);
  .resize(padding-bottom, 10px);
  .resize(padding-left, 15px);
  .resize(padding-right, 15px);
*/
}
.jumbotron {
  margin: 0 !important;
  /*  .resize(padding, 30px);
  .resize(padding-top, 48px);
  .resize(padding-bottom, 48px);
*/
}
li.list-group-item {
  background-color: #fff;
  border: none;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}
ul.contact-type > li {
  padding-left: 0px;
}
ul.contact-value > li:first-child > a {
  color: #c0392b !important;
}
ul.contact-value > li:nth-child(4) > a {
  color: #8e44ad !important;
}
.flex-video {
  position: relative;
  padding-top: 25px;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
.flex-video.widescreen {
  padding-bottom: 57.25%;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0;
  }
}
#map_canvas {
  width: 100%;
  height: 400px;
  background-color: #CCC;
}
html,
body {
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  position: relative;
  z-index: 10;
}
* {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
#top {
  margin-top: 20px;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  #top {
    margin-top: 0px;
  }
}
#top #main-title {
  margin: 0 auto;
  /*    h1::before {
        content:"";
//        height:20px;  // not responsive
        .resize(height, 20px, true);
        display:block;
    }

    h1::after {
        content:"";
//        height:20px; // not responsive
        .resize(height, 20px, true);
        display:block;
    }
*/
}
#top #main-title h1 {
  margin: 0;
  padding: 0;
  transform: scale(1, 1.5);
  -ms-transform: scale(1, 1.5);
  -webkit-transform: scale(1, 1.5);
  line-height: 0.9;
  font-family: 'Dosis', verdana;
  text-align: center;
  font-size: 80px;
  margin-bottom: 15px;
}
@media screen and (min-width: 480px) {
  #top #main-title h1 {
    font-size: 105px;
  }
}
@media screen and (min-width: 768px) {
  #top #main-title h1 {
    font-size: 105px;
  }
}
@media screen and (min-width: 992px) {
  #top #main-title h1 {
    font-size: 110px;
  }
}
@media screen and (min-width: 1200px) {
  #top #main-title h1 {
    font-size: 130px;
  }
}
#top #main-title a {
  position: relative;
}
#top #main-title img {
  width: 120%;
  position: relative;
  left: -15px;
}
@media screen and (min-width: 768px) {
  #top #main-title img {
    width: 120%;
  }
}
@media screen and (min-width: 992px) {
  #top #main-title img {
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  #top #main-title img {
    width: 100%;
  }
}
#top #main-nav {
  text-align: center;
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  #top #main-nav {
    margin-top: 20px;
  }
}
#top #main-nav h2 {
  font-size: 30px;
}
@media screen and (min-width: 1200px) {
  #top #main-nav h2 {
    font-size: 32px;
  }
}
#top #social-icons {
  margin: 0 auto;
  width: 145px;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #top #social-icons {
    margin-top: 50px;
    width: 280px;
  }
}
#top #social-icons div {
  padding: 0;
  text-align: center;
}
#top #social-icons img {
  width: 70px;
  padding: 5px 5px;
  /*      @media screen and (min-width:@screen-sm-min) {
        width: 100%;
        padding: 0;
        margin: 0;
      }

      @media screen and (min-width:@screen-lg-min) {
        width: 60%;
        padding: 0;
        margin: 0;
      }
*/
}
#top #video-bar {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  background-color: #c0392b;
  height: 70px;
  width: 70px;
  border-radius: 70px;
}
@media screen and (min-width: 768px) {
  #top #video-bar {
    width: 400px;
    border-radius: 0px;
  }
}
#top #video-bar div:first-child {
  border-right: 1px solid #fff;
}
#top #video-bar h1 {
  margin: 0;
  height: 100%;
  font-family: "Open Sans", 'verdana';
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
#top #video-bar h1,
#top #video-bar div:last-child {
  margin: 0;
  color: #fcfcfe;
  line-height: 70px;
  vertical-align: middle;
  font-size: 22px;
}
#video-page {
  /* below 768px, container is fluid taking 100% */
  /* we use 768 / 480 = 1.6 for our ratio */
  margin-top: 17.60253477px !important;
  /* ratio is computed using container fixed width */
  /* 970 / 750 ~ 1.2933 */
  /* 1170 / 970 ~ 1.2062 */
}
@media screen and (min-width: 320px) {
  #video-page {
    margin-top: 26.44358855px !important;
  }
}
@media screen and (min-width: 480px) {
  #video-page {
    margin-top: 39.66538283px !important;
  }
}
@media screen and (min-width: 768px) {
  #video-page {
    margin-top: 77.32158045px !important;
  }
}
@media screen and (min-width: 992px) {
  #video-page {
    margin-top: 82.90499088px !important;
  }
}
@media screen and (min-width: 1200px) {
  #video-page {
    margin-top: 100px !important;
  }
}
#video-page .row:first-child {
  padding: 0;
  padding-bottom: 10px;
}
#video-page .row:first-child > div {
  padding-right: 0px !important;
  text-align: right;
}
#video-page .row:first-child button {
  padding: 3px 6px;
  font-weight: bold;
}
.jumbotron.separator {
  position: relative;
  z-index: 20;
  color: #fcfcfe;
  border-radius: 0 !important;
}
.jumbotron.separator h1 {
  font-family: "Open Sans", Helvectica, sans-serif;
  font-weight: bold;
  font-size: 27px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.black-background {
  background: #141c26;
  color: #f2f4f7;
  padding-top: 20px;
}
.section-headings h2,
.section-headings h3,
.section-headings h5 {
  text-align: center;
  color: #141c26;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 30px;
  margin-top: 5px;
}
@media screen and (min-width: 1200px) {
  .section-headings h2,
  .section-headings h3,
  .section-headings h5 {
    font-size: 45px;
  }
}
.section-headings h3 {
  font-size: 23px;
}
@media screen and (min-width: 1200px) {
  .section-headings h3 {
    font-size: 35px;
  }
}
.section-headings h5 {
  font-size: 22px;
}
.section-header h2,
.section-header h3,
.section-header h5 {
  text-align: center;
  color: #141c26;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 30px;
  margin-top: 5px;
}
@media screen and (min-width: 1200px) {
  .section-header h2,
  .section-header h3,
  .section-header h5 {
    font-size: 45px;
  }
}
.section-header h3 {
  font-size: 23px;
}
@media screen and (min-width: 1200px) {
  .section-header h3 {
    font-size: 35px;
  }
}
.section-header h5 {
  font-size: 22px;
}
.section-header.background-lightGray {
  color: #141c26;
}
.rounded-thumbnail {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
}
@media screen and (min-width: 768px) {
  .rounded-thumbnail {
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  }
}
@media screen and (min-width: 992px) {
  .rounded-thumbnail {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .rounded-thumbnail {
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    margin-bottom: 0px;
  }
}
.circle-thumbnail {
  text-align: center;
  margin: 0 auto;
  border: 1px solid;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
}
@media screen and (min-width: 768px) {
  .circle-thumbnail {
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 250px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
  }
}
@media screen and (min-width: 992px) {
  .circle-thumbnail {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 250px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .circle-thumbnail {
    width: 147px;
    height: 147px;
    line-height: 147px;
    border-radius: 147px;
    -moz-border-radius: 147px;
    -webkit-border-radius: 147px;
  }
}
.method-thumbnail {
  text-align: center;
  margin: 0 auto;
  border: 1px solid;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
}
@media screen and (min-width: 768px) {
  .method-thumbnail {
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 250px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
  }
}
@media screen and (min-width: 992px) {
  .method-thumbnail {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 250px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .method-thumbnail {
    width: 147px;
    height: 147px;
    line-height: 147px;
    border-radius: 147px;
    -moz-border-radius: 147px;
    -webkit-border-radius: 147px;
  }
}
.method-thumbnail #search-icon {
  position: relative;
  top: -5px;
  width: 65%;
}
.method-thumbnail #tasks-icon {
  position: relative;
  top: -2px;
  width: 48%;
}
.method-thumbnail #execute-icon {
  width: 60%;
}
.method-thumbnail #result-icon {
  width: 80%;
}
.service-thumbnail {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
}
@media screen and (min-width: 768px) {
  .service-thumbnail {
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  }
}
@media screen and (min-width: 992px) {
  .service-thumbnail {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .service-thumbnail {
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    margin-bottom: 0px;
  }
}
.service-thumbnail img {
  width: 65%;
}
.panel {
  margin-bottom: 0px !important;
}
.panel h3 {
  text-align: center;
  font-family: 'Marvel', sans-serif;
  letter-spacing: 0.3em;
  font-size: 17px;
}
@media screen and (min-width: 768px) {
  .panel h3 {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .panel h3 {
    font-size: 15px;
  }
}
.panel h4 {
  display: inline-block;
  font-family: 'Dosis', 'sans-serif';
  font-size: 15px;
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
  .panel h4 {
    font-size: 20px;
  }
}
.panel p {
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  .panel p {
    font-size: 20px;
  }
}
.panel ul {
  text-align: center;
  padding: 0 5px;
  list-style: none;
  color: #c0392b;
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  .panel ul {
    font-size: 20px;
  }
}
.panel ul li {
  padding: 2px 0px;
}
.panel-body {
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: justify;
  padding-top: 5px;
}
.panel-heading {
  text-align: center;
  background: none !important;
}
.banner {
  height: 50%;
  margin-top: 0px;
}
@media screen and (min-width: 1200px) {
  .banner .section-header {
    height: 100%;
  }
  .banner .section-header > div {
    margin-top: 50px;
  }
  .banner .section-header h3 {
    margin-top: 20px;
  }
}
.banner .service-icons > div {
  padding-top: 20px;
}
#service-mosaic {
  height: 100%;
}
@media screen and (max-width: 1199px) {
  #service-mosaic .service-hide {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  #service-mosaic .service-display {
    display: none;
  }
}
#service-mosaic .service-icons {
  margin-bottom: 0px;
}
@media screen and (min-width: 1200px) {
  #service-mosaic .service-icons {
    height: 100%;
  }
}
#service-mosaic #flatliner-img,
#service-mosaic #remote-img {
  width: 72%;
}
#service-mosaic #excel-img {
  width: 62%;
}
#service-mosaic #website-img {
  width: 69%;
}
#service-mosaic #network-img {
  width: 59%;
}
#method_top {
  margin-top: 0;
}
#method-screen,
#service-screen,
#apropos-screen {
  height: 500px;
  border: 1px solid;
  border-radius: 20px;
  margin: 10px 0;
}
#apropos_top {
  /*    .row:first-child {
      .resize(margin-bottom, 50px);
//      margin-bottom: 50px;
    }
*/
  /*    p {
      .fontsize(20px);
    }

    p:first-child {
        text-indent:4%;
    }


    .panel-heading {
       padding: 0;

       h5 {
          font-weight: bold;
          .fontsize(22px);
        }

        .panel-body {
          padding: 0;
          padding-top: 15px;
        }
    }

    img {
        width:70%;
    }
*/
}
@media screen and (min-width: 1200px) {
  #apropos_top .row:last-child {
    margin-top: 30px;
  }
}
#apropos_top .panel-body {
  padding-top: 5px;
}
#apropos_top .panel p {
  font-size: 20px !important;
}
#apropos_top .section-headings {
  padding: 0;
}
#apropos_top h3 {
  font-size: 16px;
}
#apropos_top .img-profile {
  text-align: center;
}
#apropos_top .video-profile {
  text-align: center;
}
#apropos_top img {
  border: 1px solid #f2f4f7;
  border-radius: 160px;
  width: 140px;
  height: 140px;
}
#apropos_top #nic-icon {
  width: 80%;
}
.social-banner {
  text-align: center;
  height: 350px;
}
.social-banner img {
  width: 60%;
}
.social-banner h3 {
  color: #fff;
}
#footer_top {
  margin-top: 20px;
  /*  .container:first-child {
    > .row > div {
      @media screen and (min-width: @screen-lg-min) {
       height:500px;
      }
    }
    > .row  {
       > div:first-child {
         position: relative;
         @media screen and (min-width: @screen-lg-min) {
         top: 50px;
         }
       }
       > div:nth-child(2) {
          padding:0;
          padding-top: 10px;
       }
    }

  }
*/
}
#footer_top .container:first-child > .row:first-child > div:first-child {
  height: 350px;
}
#footer_top .container:last-child > .row > div {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 1200px) {
  #footer_top .container:last-child > .row > div {
    height: 450px;
    margin-top: 30px;
  }
}
#footer_top .brand-icons {
  line-height: 50px;
  margin-top: 10px;
}
@media screen and (min-width: 1200px) {
  #footer_top .brand-icons {
    line-height: 129px;
  }
}
#footer_top .logo {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  #footer_top .logo {
    width: 80%;
  }
}
#footer_top #drquantum-img {
  position: relative;
  z-index: 20;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #footer_top #drquantum-img {
    width: 80%;
  }
}
#footer_top #footer-contact .contact-type {
  display: block;
  width: 60px;
  margin: 0 auto;
}
#footer_top > .container-fluid {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #f2f4f7;
}
#footer_top #footer-legal {
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  padding: 10px 15px;
}
