/*/////////////////////////////////////////
// Helper Classes
//////////////////////////////////////////*/
@media screen and (min-width: 768px) {
  .desktop-hide {
    display: none;
  }
}
.mobile-hide {
  display: none ;
}
@media screen and (min-width: 768px) {
  .mobile-hide {
    display: block;
  }
}
.portrait-hide {
  display: none ;
}
@media screen and (min-width: 992px) {
  .portrait-hide {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .landscape-hide {
    display: none;
  }
}
.tablet-hide {
  display: none ;
}
@media screen and (min-width: 1200px) {
  .tablet-hide {
    display: block;
  }
}
.rotate-45 {
  transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  /* IE 9 */
  -webkit-transform: rotate(45deg) scale(1);
  /* Opera, Chrome, and Safari */
}
.rotate-90 {
  transform: rotate(90deg) scale(1);
  -ms-transform: rotate(90deg) scale(1);
  /* IE 9 */
  -webkit-transform: rotate(90deg) scale(1);
  /* Opera, Chrome, and Safari */
}
.rotate-225 {
  transform: rotate(225deg) scale(1);
  -ms-transform: rotate(225deg) scale(1);
  /* IE 9 */
  -webkit-transform: rotate(225deg) scale(1);
  /* Opera, Chrome, and Safari */
}
.hide {
  display: none;
}
.invisible {
  opacity: 0;
}
.bold {
  font-weight: bold;
}
.white {
  color: #ffffff !important;
}
.white-2 {
  color: #f2f4f7 !important;
}
.midnight {
  color: #141c26 !important;
}
.blue {
  color: #2980b9 !important;
}
.darkblue {
  color: #354774 !important;
}
.red {
  color: #c0392b !important;
}
.green {
  color: #27ae60 !important;
}
.purple {
  color: #8e44ad !important;
}
.orange {
  color: #f39c12 !important;
}
.background-lightGray {
  background: #f2f4f7 !important;
}
.background-lightGray-2 {
  background: #f8f9fb !important;
}
.background-black {
  background: #000 !important;
}
.background-dark {
  background: #262626 !important;
}
.background-red {
  background: #c0392b !important;
}
.background-blue {
  background: #2980b9 !important;
}
.background-orange {
  background: #f39c12 !important;
}
.background-purple {
  background: #8e44ad !important;
}
.background-green {
  background: #27ae60 !important;
}
.background-midnight {
  background: #141c26 !important;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.nostyle {
  list-style: none;
}
.center {
  margin: 0 auto;
}
.border {
  border: 1px solid;
  border-radius: 5px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
@media screen and (min-width: 768px) {
  .float-right-t {
    float: right;
  }
}
.h-line {
  display: inline-block;
  vertical-align: top;
  height: 1px;
  width: 30px;
  margin-right: 0px;
  margin-left: 0px;
  border: 1px solid;
}
.v-line {
  display: inline-block;
  vertical-align: top;
  width: 1px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-right: 1px solid;
  height: 80px;
}
.v-long-line {
  display: inline-block;
  vertical-align: top;
  width: 1px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-right: 1px solid;
  height: 190px;
}
.v-md-line {
  display: inline-block;
  vertical-align: top;
  width: 1px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-right: 1px solid;
  height: 140px;
}
.responsive-line {
  display: inline-block;
  vertical-align: top;
  width: 1px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-right: 1px solid;
  height: 10em;
}
@media screen and (min-width: 768px) {
  .responsive-line {
    display: inline-block;
    vertical-align: top;
    width: 1px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border-right: 1px solid;
    height: 50em;
  }
}
@media screen and (min-width: 992px) {
  .responsive-line {
    display: inline-block;
    vertical-align: top;
    width: 1px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border-right: 1px solid;
    height: 15em;
  }
}
@media screen and (min-width: 1200px) {
  .responsive-line {
    display: inline-block;
    vertical-align: top;
    width: 1px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border-right: 1px solid;
    height: 20em;
  }
}
.short-v-line {
  display: inline-block;
  vertical-align: top;
  width: 1px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-right: 1px solid;
  height: 50px;
}
.invisible {
  opacity: 0;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////
// Navbar Styling
//////////////////////////////////////////////////////////////////////////////////////////////////*/
.nav-transition {
  -webkit-transition: all 500ms cubic-bezier(0, 1, 0.56, 0.92);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0, 1.22, 0.56, 0.92);
  -moz-transition: all 500ms cubic-bezier(0, 1.22, 0.56, 0.92);
  -o-transition: all 500ms cubic-bezier(0, 1.22, 0.56, 0.92);
  transition: all 500ms cubic-bezier(0, 1.22, 0.56, 0.92);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.56, 0.92);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0, 1.22, 0.56, 0.92);
  -moz-transition-timing-function: cubic-bezier(0, 1.22, 0.56, 0.92);
  -o-transition-timing-function: cubic-bezier(0, 1.22, 0.56, 0.92);
  transition-timing-function: cubic-bezier(0, 1.22, 0.56, 0.92);
  /* custom */
}
#navbar {
  padding: 1.5em 1.5em;
  font-size: 10px;
  background: #000000;
  -webkit-transition: all 500ms cubic-bezier(0, 1, 0.56, 0.92);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0, 1.22, 0.56, 0.92);
  -moz-transition: all 500ms cubic-bezier(0, 1.22, 0.56, 0.92);
  -o-transition: all 500ms cubic-bezier(0, 1.22, 0.56, 0.92);
  transition: all 500ms cubic-bezier(0, 1.22, 0.56, 0.92);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.56, 0.92);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0, 1.22, 0.56, 0.92);
  -moz-transition-timing-function: cubic-bezier(0, 1.22, 0.56, 0.92);
  -o-transition-timing-function: cubic-bezier(0, 1.22, 0.56, 0.92);
  transition-timing-function: cubic-bezier(0, 1.22, 0.56, 0.92);
  /* custom */
}
#navbar h1,
#navbar h2 {
  margin: 0 !important;
}
#navbar h2 {
  text-align: center;
}
#navbar .container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#navbar #main-title {
  color: #ffffff;
}
#navbar #main-title h1 {
  margin-bottom: 15px;
  font-family: 'Lato', verdana;
  font-size: 8em;
  line-height: 1.1em;
}
#navbar #main-title h2 {
  padding-top: 5px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.7em;
}
#navbar #main-nav a {
  color: #ffffff !important;
}
#navbar #main-nav h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5em;
}
#navbar #social-icons a {
  width: 25%;
}
#navbar #social-icons img {
  width: 50%;
}
#navbar #social-icons {
  margin-top: 12px;
  margin-bottom: 12px;
}
@media screen and (min-width: 480px) {
  #navbar #social-icons img {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  #navbar {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    font-size: 7.5px;
  }
  #navbar #social-icons img {
    width: 50%;
  }
  #navbar #main-title {
    position: relative;
    top: -5px;
    left: 5px;
  }
  #navbar #main-title h2 {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 768px) {
  #navbar #social-icons {
    margin-top: 32px;
    margin-bottom: 0;
  }
  #navbar #main-nav {
    margin-top: 32px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  #navbar {
    font-size: 8px;
  }
  #navbar #social-icons {
    margin-top: 30px;
  }
  #navbar #social-icons img {
    width: 40%;
  }
  #navbar #main-nav {
    margin-top: 29px;
  }
}
@media screen and (min-width: 1200px) {
  #navbar {
    font-size: 10px;
  }
  #navbar #social-icons {
    margin-top: 43px;
  }
  #navbar #social-icons img {
    width: 50%;
  }
  #navbar #main-nav {
    margin-top: 39px;
  }
}
.navbar-mini {
  padding: 0 !important;
  margin-bottom: 0 !important;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .navbar-mini {
    font-size: 6px !important;
  }
  .navbar-mini #social-icons {
    margin-top: 16px !important;
  }
  .navbar-mini #social-icons img {
    width: 30% !important;
  }
  .navbar-mini #main-nav {
    margin-top: 14px !important;
  }
}
@media screen and (min-width: 992px) {
  .navbar-mini {
    font-size: 5px !important;
  }
  .navbar-mini #social-icons {
    margin-top: 13px !important;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-mini {
    font-size: 6px !important;
  }
  .navbar-mini #social-icons {
    margin-top: 14px !important;
  }
  .navbar-mini #main-nav {
    margin-top: 14px !important;
  }
}
.modal-header {
  background: url('http://192.168.1.6:3000/img/tile.png') #ffffff !important;
  font-size: 2.5em;
  color: #000000;
}
.modal-header {
  padding: 0.5em !important;
  height: 2.5em;
}
.modal-header:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.25em;
}
button.close {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.6em;
}
.close {
  opacity: 1 !important;
  color: #000000 !important;
  font-size: 2em !important;
}
#skypeCinc a {
  color: #2980b9 !important;
}
#telCinc,
#skypeCinc {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  #telCinc .list-group-item,
  #skypeCinc .list-group-item {
    font-size: 2em;
  }
}
#telCinc button,
#skypeCinc button {
  float: right;
  background: none;
}
#telCinc .contact-type,
#skypeCinc .contact-type {
  display: block;
  width: 6em;
  margin: 0 auto;
}
#telCinc span.contact-type,
#skypeCinc span.contact-type {
  font-size: 1em;
}
#telCinc a,
#skypeCinc a {
  font-family: 'Dosis', sans-serif;
}
#telCinc .skype-call-wrapper,
#skypeCinc .skype-call-wrapper {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
  background: url('http://192.168.1.6:3000/img/tile.png');
}
@media screen and (min-width: 480px) {
  #telCinc .skype-call-wrapper,
  #skypeCinc .skype-call-wrapper {
    width: 30%;
  }
}
#telCinc .skype-call-wrapper span,
#skypeCinc .skype-call-wrapper span {
  font-size: 2em;
}
.sidebar {
  position: fixed;
  width: 80px;
  right: 1%;
  top: 30%;
  z-index: 15;
  opacity: 0.6;
  -webkit-transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
}
@media screen and (max-width: 1199px) {
  .sidebar {
    display: none;
  }
}
.hidebar {
  right: -10%;
}
.nav-active {
  background-color: #c0392b !important;
}
.red-border {
  border: 1px solid #c0392b;
}
.blue-border {
  border: 1px solid #2980b9;
}
.orange-border {
  border: 1px solid #f39c12;
}
#main-nav-1 {
  margin-top: 50px;
}
#main-nav-2,
#main-nav-3,
#main-nav-4,
#main-nav-5 {
  margin-top: 30px;
}
#main-nav-2 {
  margin-top: 20px;
}
.center-navigation {
  position: relative;
  z-index: 15;
  text-align: center;
}
.center-navigation h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}
.center-navigation a {
  margin: 0px auto;
  padding: 0;
  border: 1px solid;
  display: block;
  width: 30px;
  height: 30px;
}
.center-navigation a span {
  position: relative;
  top: 5px;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .center-navigation h6 {
    font-size: 1.3em;
  }
}
.slide-nav {
  margin-bottom: 2em;
  text-align: center;
}
.slide-box {
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.slide-box span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  vertical-align: middle;
}
.navigation {
  text-align: center;
  font-size: 12px !important;
}
.navigation a {
  margin: 20px auto;
  border: none;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  padding: 0;
  display: block;
  background-color: #222;
  text-align: center;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: -moz-transform 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: -o-transform 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: transform 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  /* linear */
}
.navigation h6 {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  letter-spacing: 0.2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
h5 {
  font-family: 'Open Sans Condensed', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
}
p {
  line-height: 1.6 !important;
}
a {
  color: #000 !important;
}
a:hover {
  color: #2980b9 !important;
  text-decoration: none !important;
}
.noglow,
.btn-default,
.btn-danger {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none !important;
}
.btn {
  border-radius: 0 !important;
}
.btn-default {
  background: #000 !important;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background: #000 !important;
}
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.btn-danger {
  border: none !important;
  background-color: #c0392b !important;
}
li.list-group-item {
  background-color: #ffffff;
  border: none;
  font-family: 'Dosis', sans-serif;
  font-size: 3em;
  padding: 0.3em 0.5em;
}
ul.contact-type > li {
  padding-left: 0px;
}
#loader {
  color: #2980b9;
  position: fixed;
  width: 90px;
  height: 90px;
  top: 50%;
  left: 50%;
  margin-left: -45px;
  margin-top: -45px;
}
.loader_blockG {
  float: left;
  height: 100%;
  margin-left: 10%;
  width: 23.3333%;
  opacity: 0.1;
  -webkit-animation: bounceG infinite 1.8s linear;
  -moz-animation: bounceG infinite 1.8s linear;
  -ms-animation: bounceG infinite 1.8s linear;
  -o-animation: bounceG infinite 1.8s linear;
  animation: bounceG infinite 1.8s linear;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}
@keyframes bounceG {
  0% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0.1;
  }
}
@-webkit-keyframes bounceG {
  0% {
    -webkit-transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.7);
    opacity: 0.1;
  }
}
@-moz-keyframes bounceG {
  0% {
    -moz-transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.7);
    opacity: 0.1;
  }
}
@-ms-keyframes bounceG {
  0% {
    -ms-transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -ms-transform: scale(0.7);
    opacity: 0.1;
  }
}
@-o-keyframes bounceG {
  0% {
    -o-transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -o-transform: scale(0.7);
    opacity: 0.1;
  }
}
#blockG_1 {
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
#blockG_2 {
  -moz-animation-delay: 0.72s;
  -webkit-animation-delay: 0.72s;
  -ms-animation-delay: 0.72s;
  -o-animation-delay: 0.72s;
  animation-delay: 0.72s;
}
#blockG_3 {
  -moz-animation-delay: 0.54s;
  -webkit-animation-delay: 0.54s;
  -ms-animation-delay: 0.54s;
  -o-animation-delay: 0.54s;
  animation-delay: 0.54s;
}
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #888;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
a {
  text-decoration: none !important;
}
a,
button {
  -ms-touch-action: manipulation;
  /* IE10  */
  touch-action: manipulation;
  /* IE11+ */
}
button {
  padding: 0;
  border: none;
}
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
html,
body {
  position: relative;
  z-index: 10;
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}
body {
  font-size: 6px !important;
}
@media screen and (min-width: 480px) {
  body {
    font-size: 6px !important;
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 8px !important;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 10px !important;
  }
}
body {
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}
#main {
  -webkit-transition: opacity 500ms ease 0s;
  -moz-transition: opacity 500ms ease 0s;
  -o-transition: opacity 500ms ease 0s;
  transition: opacity 500ms ease 0s;
}
.service-mobile-shadow {
  -webkit-box-shadow: 0px 1px 8px 2px rgba(50, 50, 50, 0.88);
  -moz-box-shadow: 0px 1px 8px 2px rgba(50, 50, 50, 0.88);
  box-shadow: 0px 1px 8px 2px rgba(50, 50, 50, 0.88);
}
@media screen and (min-width: 768px) {
  .service-mobile-shadow {
    box-shadow: none;
  }
}
.button-padding {
  height: 75px;
}
@media screen and (min-width: 768px) {
  .square-thumbnail {
    margin: 0 auto;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .square-thumbnail {
    margin: 0 auto;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 100px;
    height: 100px;
  }
}
.mobile-thumbnail {
  margin: 0 auto;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  width: 25em;
  height: 25em;
}
.method-thumbnail,
.service-thumbnail {
  margin: 0 auto;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  width: 25em;
  height: 25em;
}
@media screen and (min-width: 768px) {
  .method-thumbnail,
  .service-thumbnail {
    margin: 0 auto;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .method-thumbnail,
  .service-thumbnail {
    margin: 0 auto;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 768px) {
  .team-thumbnail {
    margin: 0 auto;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .team-thumbnail {
    margin: 0 auto;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 100px;
    height: 100px;
  }
}
.content-block {
  padding-top: 0.5em;
  color: #000000;
  letter-spacing: 0.1em;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}
.content-block h3,
.content-block h4,
.content-block p,
.content-block ul,
.content-block li {
  text-align: center;
}
.content-block span {
  display: inline-block;
  font-size: 3.8em;
  padding-top: 0.5em;
}
.content-block h4 {
  font-family: 'Lato', 'sans-serif';
  font-weight: bold;
  font-size: 4em;
  letter-spacing: 0.1em;
}
.content-block h3 {
  font-size: 2em;
}
.content-block p {
  font-size: 3.8em;
}
.content-block > div.text-title {
  font-family: 'Lato', 'sans-serif';
  font-size: 4em;
}
.content-block ul {
  margin: 0.5em 0;
  font-size: 3.6em;
  letter-spacing: 0.1em;
}
.content-block li {
  margin: 0.5em 0;
}
@media screen and (min-width: 768px) {
  .content-block ul {
    font-size: 2.4em;
  }
  .content-block p {
    font-size: 2.2em;
  }
  .content-block span {
    font-size: 2.8em;
  }
  .content-block h4 {
    font-size: 2.4em;
  }
}
.button-caption {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 4em;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .button-caption {
    font-size: 2em;
  }
}
.banner {
  background: url('../img/tile.png') right top #f2f4f7;
  min-height: 610px;
}
.banner .row:first-child {
  padding-top: 20px;
  padding-bottom: 20px;
}
.banner h2 {
  padding: 6px 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 4em;
  color: #141c26;
}
.banner p {
  text-align: center;
  margin: 5px auto;
  font-family: 'Dosis', sans-serif;
  color: #444;
  font-size: 3.5em;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .banner {
    min-height: 940px;
  }
  .banner h2 {
    font-size: 4.5em;
  }
  .banner p {
    font-size: 4em;
  }
  .banner .row:first-child {
    padding-top: 100px;
  }
  .banner p {
    padding: 60px 0;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    min-height: 692px;
  }
  .banner .row:first-child {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .banner p {
    padding: 20px 0;
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    min-height: 1021px;
  }
  .banner .row:first-child {
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .banner p {
    padding: 60px 0;
  }
}
#services,
#screen-method,
#team {
  /*  @media screen and (min-width: @screen-sm-min) {
    font-size: 8px;
  }

  @media screen and (min-width: @screen-md-min) {
    font-size: 8px;
  }
  @media screen and (min-width:@screen-lg-min) {
    font-size: 10px;
  }
*/
}
#services .selected-button,
#screen-method .selected-button,
#team .selected-button {
  border-bottom: 2px solid #2980b9;
}
#services button,
#screen-method button,
#team button {
  display: block;
  background: none !important;
  padding: 0.8em;
}
#services button img,
#screen-method button img,
#team button img {
  width: 100%;
}
/* This code is tested with latest version of Firefox and Chrome */
/* This code is tested with latest version of Firefox and Chrome */
@media screen and (min-width: 768px) {
  .box {
    position: relative;
    width: 90%;
    max-width: 1713px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
}
#screen-canvas-wrapper {
  -webkit-transition: opacity 1s cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: opacity 1s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 1s cubic-bezier(0.02, 0.01, 0.47, 1);
  -o-transition: opacity 1s cubic-bezier(0.02, 0.01, 0.47, 1);
}
/*#services canvas {
  width: 100%;
  height: 20em;
}
*/
#screen-services,
#screen-team,
#screen-project {
  margin-top: 2em;
  padding-top: 2em;
}
@media screen and (min-width: 768px) {
  #screen-services,
  #screen-team,
  #screen-project {
    height: 640px;
  }
}
@media screen and (min-width: 992px) {
  #screen-services,
  #screen-team,
  #screen-project {
    height: 420px;
  }
}
@media screen and (min-width: 1200px) {
  #screen-services,
  #screen-team,
  #screen-project {
    height: 600px;
  }
}
#margin-top {
  height: 160px;
}
@media screen and (min-width: 1200px) {
  #margin-top {
    height: 180px;
  }
}
#top.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  #top.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.cadre {
  margin: 0 auto;
  padding: 0 !important;
  position: relative;
  height: 211px;
  width: 100%;
}
.cadre h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.2em;
  font-size: 3.5em;
  margin: 0.4em 0;
}
@media screen and (min-width: 480px) {
  .cadre {
    height: 274px;
  }
}
@media screen and (min-width: 768px) {
  .cadre {
    border-radius: 2em;
    border: 1px solid #000;
    height: 382px;
    width: 744px;
  }
}
@media screen and (min-width: 992px) {
  .cadre {
    width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .cadre {
    height: 451px;
    width: 1088px;
  }
}
@media screen and (min-width: 1600px) {
  .cadre {
    height: 520px;
    width: 1311px;
  }
}
.slide {
  position: absolute;
  padding: 2px;
  height: 144px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .slide {
    height: 224px;
  }
}
@media screen and (min-width: 768px) {
  .slide {
    padding: 1.5em;
    height: 322px;
  }
}
@media screen and (min-width: 1200px) {
  .slide {
    height: 391px;
  }
}
@media screen and (min-width: 1600px) {
  .slide {
    height: 460px;
  }
}
.slide img {
  height: 100%;
  width: 100%;
}
#services #website-photo {
  position: relative;
  left: -1%;
}
#services img {
  width: 100%;
}
#screen-services #screen-services-visual {
  margin-top: 12px;
}
#screen-services #screen-services-text {
  margin-top: 12px;
}
#screen-services #screen-services-visual #website-photo {
  position: relative;
  left: -20px;
}
#screen-services img {
  width: 600px;
}
@media screen and (min-width: 992px) {
  #screen-services #screen-services-visual #website-photo {
    left: 0px;
  }
  #screen-services #screen-services-visual {
    margin-top: 40px;
  }
  #screen-services #screen-services-text {
    margin-top: 40px;
  }
  #screen-services img {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  #screen-services #screen-services-visual #website-photo {
    left: -10px;
  }
  #screen-services #screen-services-visual {
    margin-top: 80px;
  }
  #screen-services #screen-services-text {
    margin-top: 80px;
  }
  #screen-services img {
    width: 600px;
  }
}
@media screen and (min-width: 1600px) {
  #screen-services img {
    width: 700px;
  }
}
#bubbles-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
#screen-method {
  margin-top: 0;
  position: relative;
}
#screen-method #screen-method-text,
#screen-method #icons {
  margin-top: 80px;
}
#screen-method #icons > .row > div {
  margin-bottom: 16px;
}
#screen-method img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  #screen-method {
    margin-top: 70px;
    height: 676px;
  }
  #screen-method #icons {
    margin-top: 50px;
  }
  #screen-method #screen-method-text {
    margin-top: 40px;
  }
}
@media screen and (min-width: 992px) {
  #screen-method {
    margin-top: 60px;
    height: 480px;
  }
  #screen-method #icons {
    margin-top: 80px;
  }
  #screen-method #screen-method-text {
    margin-top: 80px;
    margin-left: -20px;
  }
}
@media screen and (min-width: 1200px) {
  #screen-method {
    margin-top: 128px;
    height: 600px;
  }
  #screen-method #icons {
    margin-top: 140px;
  }
  #screen-method #screen-method-text {
    margin-top: 120px;
    margin-left: -20px;
  }
}
#screen-team p,
#team p {
  font-family: 'Marck Script', cursive;
}
#screen-team ul li,
#team ul li {
  font-family: 'Dancing Script', cursive;
}
#screen-team ul,
#team ul {
  font-size: 2.5em;
  margin: 0.5em 0;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 0;
}
#team {
  width: 90%;
  max-width: 1713px;
}
#team .row {
  margin-top: 3em;
}
#team .row > div {
  text-align: center;
}
#team .row > div > button {
  padding: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  #team .row > div > button {
    display: block;
  }
}
#team .row > div > button > img {
  width: 100%;
}
#team .row > div .img-placeholder {
  padding: 1.5em;
  background: url('../img/polka-1-2.png') #ffffff;
}
#team .row > div h4 {
  font-size: 2em;
}
#team .row > div span {
  font-size: 1.5em;
}
#team .row > div p {
  font-size: 3em;
}
#team .row > div .member-photo {
  max-width: 205px;
  width: 40%;
}
#team .row > div .email-icon {
  width: 50px;
}
.screen-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto !important;
}
#screen-team {
  /*  @media screen and (min-width:@screen-lg-min) {
    #screen-team-wrapper #screen-team-photo img {
      width: 140px;
    }
  }
*/
}
#screen-team:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.5em;
}
#screen-team #screen-team-photo {
  text-align: center;
}
#screen-team #screen-team-photo .member-photo {
  width: 20%;
}
#screen-team #screen-team-photo .email-icon {
  width: 40px;
}
#screen-team #screen-team-photo h4 {
  font-size: 1.5em;
}
#screen-team #screen-team-text p {
  margin-top: 1em;
}
@media screen and (min-width: 992px) {
  #screen-team #screen-team-text p {
    margin-top: 0;
  }
  #screen-team #screen-team-photo .member-photo {
    width: 30%;
  }
}
@media screen and (min-width: 1200px) {
  #screen-team #screen-team-wrapper #screen-team-photo .member-photo {
    width: 40%;
  }
}
#screen-project {
  text-align: center;
}
#screen-project:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.5em;
}
#screen-project .project-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 40px;
}
#screen-project .project-wrapper h3 {
  margin: 0;
  margin-top: 1em;
  font-family: 'Dosis', sans-serif;
  font-size: 4em;
}
#screen-project .project-wrapper h5 {
  margin-top: 0.5em;
  font-size: 3em;
}
#screen-project .project-wrapper img {
  width: 100%;
}
#screen-project .img-placeholder {
  padding: 0em;
  background: url('../img/polka-1-2.png') #ffffff;
  vertical-align: top !important;
}
#screen-project .project:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.5em;
}
@media screen and (min-width: 768px) {
  #screen-project {
    margin-top: 70px;
  }
  #screen-project .project {
    height: 176px;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #screen-project .project > .project-wrapper {
    margin-bottom: 0em;
  }
  #screen-project .project > .project-wrapper img {
    width: 190px;
  }
  #screen-project .project > .project-wrapper h3 {
    font-size: 2em;
  }
  #screen-project .project > .project-wrapper h5 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 992px) {
  #screen-project {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  #screen-project {
    margin-top: 128px;
  }
  #screen-project .project {
    height: 220px;
  }
  #screen-project .project > .project-wrapper > img {
    width: 237px;
  }
}
.footer-background {
  position: relative;
  padding: 0;
  height: 400px;
  background: url('../img/stripe2.png') repeat;
  max-width: 1920px;
}
.footer-background .row {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  opacity: 0.9;
  background: #ffffff;
}
#social-ads {
  background: url('../img/stripe.png');
  max-width: 1920px;
  margin: 0 auto;
}
#social-ads #social-ads-wrapper {
  background-color: #ffffff;
  opacity: 0.9;
}
#social-ads #social-ads-wrapper .social-banner {
  text-align: center;
  padding: 3em 1.5em;
}
#social-ads #social-ads-wrapper .social-banner img {
  width: 60%;
}
#social-ads #social-ads-wrapper .social-banner h3,
#social-ads #social-ads-wrapper .social-banner a {
  color: #ffffff !important;
}
#social-ads #social-ads-wrapper .social-banner h3 {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
}
#social-ads #social-ads-wrapper .social-banner #gplus {
  position: relative;
  left: 5%;
}
@media screen and (min-width: 768px) {
  #social-ads #social-ads-wrapper .social-banner #gplus {
    left: 7%;
  }
}
@media screen and (min-width: 992px) {
  #social-ads #social-ads-wrapper .social-banner #gplus {
    left: 5%;
  }
}
#social-ads #social-ads-wrapper .social-banner .social-button-wrapper {
  margin-top: 20px;
}
#social-ads #social-ads-wrapper .social-banner .iframe-offset {
  position: relative;
  left: 4%;
}
@media screen and (min-width: 768px) {
  #social-ads #social-ads-wrapper .social-banner .iframe-offset {
    left: 5%;
  }
}
@media screen and (min-width: 992px) {
  #social-ads #social-ads-wrapper .social-banner .iframe-offset {
    left: 3%;
  }
}
@media screen and (min-width: 1200px) {
  #social-ads #social-ads-wrapper .social-banner .iframe-offset {
    left: 5%;
  }
}
#social-ads #social-ads-wrapper .social-banner .social-banner-wrapper {
  display: inline-block;
  vertical-align: middle;
}
#social-ads #social-ads-wrapper .social-banner:before {
  content: '';
  height: 100%;
  margin-left: -1em;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  #social-ads #social-ads-wrapper .social-banner {
    height: 400px;
  }
  #social-ads #social-ads-wrapper .social-banner .social-button-wrapper {
    margin-top: 20px;
    height: 5em;
  }
  #social-ads #social-ads-wrapper .social-banner img {
    width: 192px;
  }
}
@media screen and (min-width: 992px) {
  #social-ads #social-ads-wrapper .social-banner {
    height: 500px;
  }
  #social-ads #social-ads-wrapper .social-banner img {
    width: 220px;
  }
}
@media screen and (min-width: 1200px) {
  #social-ads #social-ads-wrapper .social-banner img {
    width: 170px;
  }
}
#footer {
  position: relative;
  background: url('../img/stripe2.png');
  max-width: 1920px;
  margin: 0 auto;
}
#footer #footer-wrapper {
  background-color: #ffffff;
  opacity: 0.95;
}
#footer #footer-wrapper > div > ul > li {
  background: none;
}
#footer #footer-wrapper .contact-type {
  display: block;
  width: 36px;
  margin: 0 auto;
}
#footer #footer-wrapper .logo {
  display: inline-block;
  vertical-align: middle;
  width: 52px;
  padding: 0 0.5em;
}
#footer #footer-wrapper #footer-cinc > ul > li:first-child {
  display: none;
}
#footer #footer-wrapper .brand-icons {
  margin: 32px 0;
  margin-top: 0;
  height: 48px;
}
#footer #footer-wrapper .brand-icons:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.5em;
}
#footer #footer-wrapper #small-prints {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
  height: 80px;
}
#footer #footer-wrapper #small-prints img {
  width: 30px;
}
#footer #footer-wrapper #small-prints hr {
  margin-top: 0;
}
#footer #footer-wrapper #small-prints span {
  padding: 1em 1.5em;
}
@media screen and (min-width: 480px) {
  #footer #footer-wrapper .logo {
    width: 75px;
  }
  #footer #footer-wrapper #small-prints {
    font-size: 2em;
  }
  #footer #footer-wrapper #small-prints img {
    width: 50px;
  }
}
@media screen and (min-width: 768px) {
  #footer li.list-group-item {
    font-size: 2em;
  }
  #footer #footer-wrapper #footer-contact,
  #footer #footer-wrapper #footer-cinc {
    height: 270px;
  }
  #footer #footer-wrapper #footer-cinc > ul > li:first-child {
    display: block;
  }
  #footer #footer-wrapper #footer-cinc .brand-icons {
    margin: 24px 0;
  }
  #footer #footer-wrapper .logo {
    width: 65px;
  }
  #footer #footer-wrapper #small-prints {
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  #footer #footer-wrapper > div:not(#small-prints) {
    height: auto;
  }
  #footer #footer-wrapper .logo {
    width: 64px;
  }
  #footer #footer-wrapper #small-prints {
    font-size: 1.5em;
  }
}
