/*.modal-content {
  border: none !important;
  font-family: 'Dosis', sans-serif;

}
*/
.modal-footer,
.modal-header {
  background: url('http://192.168.1.6:3000/img/tile.png') #ffffff !important;
  font-size: 22px;
  color: #000;
}
.modal-header {
  padding: 5px 15px !important;
  height: 50px;
}
.modal-header:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.25em;
}
button.close {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.6em;
}
.close {
  opacity: 1 !important;
  color: #000 !important;
  font-size: 40px !important;
}
#skypeMe {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}
#skypeMe p {
  padding-top: 15px;
}
#skypeMe a {
  text-decoration: none;
}
#skypeMe li {
  padding: 15px 0px;
}
#skypeMe img {
  width: 60px;
  padding-left: 15px;
  padding-right: 5px;
}
/*#contactMe {

  #map_canvas_2 {
    position: relative;
    top: 0px;
    left: 0px;
    @media screen and (min-width:@screen-lg-min) {
      margin-top: 50px;
      width: 100%;
      height: 338px;
    }
  }
}*/
