.sidebar {
  position: fixed;
  right: 2%;
  top: 30%;
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  z-index: 15;
}
.hidebar {
  right: -10%;
}
.navigation {
  text-align: center;
  font-size: 12px !important;
}
.navigation a {
  display: block;
  background-color: #222;
  width: 10px;
  height: 10px;
  margin: 15px auto;
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  /* linear */
}
.navigation a:hover {
  width: 20px;
  height: 20px;
}
.navigation h6 {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
}
